* {
    text-align: center;
    font-family: Arial;
    background-color: lightgreen;
    list-style-position: inside;
  }
  h1 {
    color: red;
    background-color: lightgreen;
  }
  h2 {
    color: red;
    background-color: lightgreen;
  }
  h3 {
    color: green;
    background-color: pink;
  }
  p {
    color: darkred;
  }
  li {
    color: darkred;
  }
  img {
    height: 300px;
    width: 350px;
  }
  .link {
    color: blue;
  }
  button {
    color: blue;
    background-color: white;
  }
  input{
      background-color: white;
  }